* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: darkturquoise;
    font-family:Arial, Helvetica, sans-serif
}

header {
    background-color: blue;
    color:aliceblue;
}

form label,
form h2 {
    color:white;
}

form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.625rem 0;
  font-size: 1.2rem;
}

ul,
li{
    color:white;
}

table {
    position:relative;
    margin:5px;
    padding:1em;

}

.navbar {
    margin:1em;
}

.nav-container {
    align-items:center;
    justify-content:center;
    width:fit-content;
    float: left;
}
.my-btn {
    background-color: white;
    color:blue;
}

.weather-container .card {
    float:reverse;
    float:right;
}