* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: darkturquoise;
    font-family:Arial, Helvetica, sans-serif
}

header {
    background-color: blue;
    color:aliceblue;
    padding: 10px;
    justify-content: center;
}

a {
    color:white !important;
    font-size: 30px;
    text-decoration: none !important;
}

.form-inline {
    padding-left: 20px;
    padding-bottom: 20px;
}

.container-fluid {
    padding-bottom: 70px;
}

#my-row {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#searchHistory {
    padding-left: 35px;
}

#weatherCard {
    padding-top: 20px;
    padding-bottom: 20px;
}

#forecastRow {
    padding-bottom: 20px;
}

#forecastCards {
    justify-content: center;
}

#cardDesplay {
    display: none;
}